<footer class="site-footer">
  <div class="container"> 
    <div class="social-links">
      <a href="#"><i class="fa fa-facebook-square"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-google-plus"></i></a>
      <a href="#"><i class="fa fa-pinterest"></i></a>
    </div> <!-- .social-links -->
    <p class="copy">Copyright 2019 Company Name. Designed by Themezy. All right reserved</p>
  </div>
</footer> <!-- .site-footer -->