<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
</head>
<body>
    <header>
        <% include ./partials/nav-bar.ejs %>
    </header>
    <center>
        <h1 style="margin-top:3%">Login</h1>
        <form method="POST" style="margin-top:10%">
            Email:
            <input type="text" name="email" value="">
            Password:
            <input type="password" name="password" value="">
            Role: 
            <select name="role"> 
                <option value="student">Student</option>
                <option value="teacher">Teacher</option>
            </select>
            <button type="submit">Submit</button><br>
        </form>
    </center>
</body>
</html>