<!DOCTYPE html>
<html lang="en">
<% include ./partials/head %>

<body class="header-collapse">

	<div id="site-content">

		<% include ./partials/header %>

		<div class="hero">
			<div class="slider">
				<ul class="slides">
					<li class="lazy-bg" data-background="./dummy/slide-1.jpg">
						<div class="container">
							<h2 class="slide-title" style="margin-bottom:100px">Registration</h2>
							<div class="row">
								<div class="container-fluid">
									<div class="col-md-6">
										<div>
											<a href="/register/student"><img src="/images/jimi.jpg" alt=""><p style="display:block">Student</p></a>
											
										</div>
									</div>
									<div class="col-md-6">
										<div>
											<a href="/register/teacher"><img src="/dummy/thumbnail-3@2x.jpg" alt=""><p style="display:block">Teacher</p></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>

		<main class="main-content">

		</main> <!-- .main-content -->

		<% include ./partials/footer %>

	</div> <!-- #site-content -->

	<% include ./partials/script-js %>

</body>

</html>