<!DOCTYPE html>
<html lang="en">
<% include ./partials/head %>

<body class="header-collapse">

	<div id="site-content">

		<% include ./partials/header %>

		<div class="hero">
			<div class="slider">
				<ul class="slides">
					<li class="lazy-bg" data-background="./dummy/slide-1.jpg">
						<div class="container">
							<h1 style="margin-bottom:40px">Registration</h1>
								<div class="col-md-6">
										<div class="row">
											<div class="col-sm-6 col-md-4" style="float: right">
												<div class="thumbnail">
													<img src="/dummy/profile_logo_18098376.jpg">
													<div class="caption">
														<h3>Student</h3>
														<p><a href="/register/student" class="btn btn-primary" role="button">Register</a></p>
													</div>
												</div>
											</div>
										</div>
									<!-- <div>
										<a href="/register/student"><img src="/images/jimi.jpg" alt=""><p style="display:block">Student</p></a>
										
									</div> -->
								</div>
								<div class="col-md-6">
										<div class="row">
											<div class="col-sm-6 col-md-4">
												<div class="thumbnail">
													<img src="/dummy/profile_logo_18098376.jpg">
													<div class="caption">
														<h3>Teacher</h3>
														<p><a href="/register/teacher" class="btn btn-primary" role="button">Register</a></p>
													</div>
												</div>
											</div>
										</div>
									<!-- <div>
										<a href="/register/teacher"><img src="/dummy/thumbnail-3@2x.jpg" alt=""><p style="display:block">Teacher</p></a>
									</div> -->
								</div>
						</div>
					</li>
				</ul>
			</div>
		</div>

		<main class="main-content">

		</main> <!-- .main-content -->

		<% include ./partials/footer %>

	</div> <!-- #site-content -->

	<% include ./partials/script-js %>

</body>

</html>