<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
</head>

<body>
        <% include ./partials/nav-bar.ejs %>
    <h1>Registration</h1>
   <ul>
       <li><a href="/register/student">Student</a></li>
       <li><a href="/register/teacher">Teacher</a></li>
   </ul>
</body>

</html>